# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
eggs/
.eggs/
lib/
parts/
wheels/
*.egg-info/
.installed.cfg
*.egg
.coverage
.cache
.pytest_cache/
.env
.venv
env/
venv/
.timetracker